# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://help.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2

registries:
  maven-ghp-octocat:
    type: maven-checkmarxdev
    url: https://maven.pkg.github.com/CheckmarxDev/ast-cli-java-wrappe
    token: ${{secrets.MVN_PACKAGE_PAT_TOKEN}} # make sure to store this in your Dependabot secrets!


updates:
  - package-ecosystem: "maven" # See documentation for possible values
    directory: "/" # Location of package manifests
    registries:
      - maven-checkmarxdev
    schedule:
      interval: "daily"

  - package-ecosystem: "github-actions"
    # Workflow files stored in the
    # default location of `.github/workflows`
    directory: "/"
    schedule:
      interval: "daily"
